* {
  box-sizing: border-box;
  flex-shrink: 0;
}

.tela-3 {
  padding-top: 107px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  overflow-y: scroll;
}

.tela-3 h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 29px;
  color: #000000;
}

.caixa-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  text-align: start !important;

  padding-bottom: 28px;
  padding: 18px;
}

.caixa-inputs p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.tela-3 input,
.tela-3 textarea {
  width: 100%;
  height: 45px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
  padding: 14px;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #000000;
}

.tela-3 textarea {
  margin-top: 14px;
  resize: none;
}

.tela-3 input::placeholder,
.tela-3 textarea::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.tela-3 button {
  width: 324px;
  height: 54px;
  left: 24px;
  top: 443px;
  background: #ec362d;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 60px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff5f4;
}

.tela-3 button:active {
  background: #831f19;
}

.tela-3 button.acessar {
  width: 220px;
  height: 44px;
  margin-bottom: 0px;
}

.tela-3 button.voltar {
  width: 220px;
  height: 44px;
  background-color: transparent;
  margin-top: 10px !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #818181;
}

.tela-3 button.voltar:active {
  background: transparent;
  color: #831f19;
}

.pergunta.expandida {
  max-height: 875px;
}

.nivel.expandida {
  max-height: 603px;
}

.secao {
  background-color: #ffffff;
  overflow: hidden;
  max-height: 74px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 12px;
  margin-bottom: 12px;
  transition: max-height 1s ease-in-out;
}

.secao ion-icon {
  opacity: 1;
  color: #000000;
  cursor: pointer;
}

.secao.expandida {
  margin-bottom: 12px;
  padding-top: 18px;
  background-color: #ffffff;
  height: auto;
  transition: max-height 1s ease-in-out;
}

.secao.expandida ion-icon {
  opacity: 0;
  font-size: 26px;
  cursor: default;
}

i-erro{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EC362D;
}

.alerta{
  background-color: #FFE9E9;
}

.tituloSecao {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secao .tituloSecao {
  margin-bottom: 50px;
  margin-top: 22px;
}

.expandida .tituloSecao {
  margin-bottom: 0px;
  margin-top: 0px;
}

.secao p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.resultado {
  position: relative;
  width: 340px;
  height: 180px;
}

.resultado img {
  width: 100%;
  border-radius: 5px;
}

.resultado h1 {
  width: fit-content;
  font-weight: 400;
  font-size: 19px;
  position: absolute;
  color: #ffffff;
  bottom: -10px;
  left: 17px;
}

.tela-3 li {
  list-style-type: none;
}

@media (max-width: 1100px) {
  .tela-3 textarea {
    height: 340px;
  }
}

@media (min-width: 1100px) {
  .tela-3 {
    padding-top: 170px;
  }

  .caixa-inputs {
    width: 600px;
  }

  .tela-3 button {
    margin-top: 75px !important;
  }

  .nivel.expandida {
    max-height: 316px;
  }

  .secao {
    width: 600px;
  }

  .resultado {
    width: 500px;
    height: fit-content;
  }

  .resultado h1 {
    width: fit-content;
    font-weight: 400;
    font-size: 19px;
    position: absolute;
    color: #ffffff;
    bottom: -1px;
    left: 23px;
  }
}
